.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-custom {
  background-color: var(--primary-color);
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}

.date {
  color: rgba(0, 0, 0, 50%);
  font-size: 12px;
}
